@import "./config";

.menu-btn {
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 16px;
  height: 28px;
  width: 28px;
  cursor: pointer;
  @include transition-ease;

  &__burger {
    position: absolute;
    top: 8px;
    right: 0;
    width: 28px;
    height: 3px;
    background: set-text-color($primary-color);
    @include transition-ease;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: set-text-color($primary-color);
      @include transition-ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 28px;
      height: 3px;
      background: set-text-color($primary-color);
      @include transition-ease;
    }

    &.open{
        transform: rotate(720deg);
        background: transparent;
    
        &::before{
            transform: rotate(45deg) translate(5px,8px);
        }
    
        &::after{
            transform: rotate(-45deg) translate(3px, -7px);
        }
      }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;

  &.open{
    visibility: visible;
  }

  .menu-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 100vh;
    @include transition-ease;
    background: $primary-color;
    overflow: hidden;
    transform: translateY(-100%);
    padding-right: 1rem;
    list-style-type: none;

    &.open{
        transform: translateY(0);
    }

    &__item {
      transform: translateX(100vw);
      list-style: none;
      @include transition-ease;
      padding: 20px 0;
      text-transform: uppercase;

      &.open{
        transform: translateX(0);
      }

      &.active{
        color: $secondary-color;
      }

      &__link {
        display: inline-block;
        font-size: 32px;
        font-weight: bold;
        @include transition-ease;
      
      }
    }
  }
}
